In [2]:
import pandas as pd
import openpyxl
import lxml

## .Series()

In [ ]:
## python list doesn't have as many attributes as pd.Series(), exmp: Mean, Var, Median..
age = [23,23,44,23,63,12,53,24,12]

## converting List to Series
age_series = pd.Series(age) # Y axis

age_mean = age_series.mean()            # attribute from Series()
age_median = age_series.var()           # attribute from Series()
age_describe = age_series.describe()    # attribute from Series()

## iLoc & Loc

In [ ]:
age_series[0]            ## = 23 [n]: search by INDEX        | ORDER DOESN'T MATTERS
age_series.iloc[0]       ## = 23 iloc[n]: search by POSITION | ORDER MATTERS

# .. but if we sort the list
age_series = age_series.sort_values()

age_series[0]            ## = 23 [n]: search by INDEX
age_series.iloc[0]       ## = 12 iloc[n]: search by POSITION and now this list are SORTED

In [ ]:
age = [23,23,44,23,63,12,53,24,12,23]
names= ["John","Mark","Beta","Ded","Pop","Link","Pep","Ronald","Lin","Wiu"]

# creating a Series, where the ages are linked with index (names)
series_age = pd.Series(age, index=names)

# searching first value
series_age["John"] ## = 23 [n]: search by index["NAME"]
series_age.iloc[0] ## = 23 [n]: search by position

## .DataFrame

In [ ]:
age_series = pd.Series(age)     ## item
name_series = pd.Series(names)  ## item

df = pd.DataFrame() ## collection of item

df["age"] = age_series   ## creating collection["age"] as value age_series
df["name"] = name_series ## creating collection["age"] as value name_series

df["age"]   ## returns Series(name)
df.iloc[0]  ## retturn Series() | where indexs = df columns

## searching the name from the first person
df.iloc[0]["name"]

## getting the age from the last person
df.iloc[-1]["age"]

In [ ]:
df_clients = pd.read_csv("../../data/data-tmw/clientes.csv")

# SAMPLES
df_clients.head()               # display 5 (default) first rows   | usefull for large datasets
df_clients.tail()               # display 5 (default) last rows    | usefull for large datasets
df_clients.sample(5)            # display 5 (default) random rows  | usefull for large datasets

df_clients.shape                # returns (rows, cols)
df_clients.columns              # returns all columns name
df_clients.index                # returns index informations, like start, stop and step

df_clients.info()               # return Columns, Non-Null Count, Type and memory usage

df_clients.dtypes               # return a Series(), with cols as indexs, and type as values
df_clients.dtypes["flEmail"]    # acessing index: "flEmail" and getting his value

In [ ]:
df_transacoes = pd.read_csv("../../data/data-tmw/transacoes.csv")

type(df_transacoes)

df_transacoes.shape                                         # num rows,cols
df_transacoes.columns                                       # cols name

renamed_columns = {
            "qtdePontos": "qtPontos", 
            "descSistemaOrigem": "SistemaOrigem"
}

df_transacoes.rename(columns=renamed_columns, inplace=True) ## rename columns

In [ ]:
df_transacoes["idCliente"]                  # returns a Series()
df_transacoes[["idCliente"]]                # returns a DF

df_transacoes[["idCliente", "qtPontos"]]    # returns a DF with specified cols

# A-Z cols sorting
cols = df_transacoes.columns.tolist()       # creating all cols name list 
cols.sort()                                 # sorting cols name
df_transacoes[cols]                         # DF[{cols}]

## Importing Data

In [ ]:
df = pd.read_csv("../../data/data-tmw/clientes.csv") ## creating DF from csv

df.to_excel("data/clients.xlsx", index=False) ## converting csv to xlsx (excel)

In [ ]:
df_clipboard = pd.read_clipboard( ) # creating DF from clipboard, usefull for quick tests
df_html = pd.read_html("https://pt.wikipedia.org/wiki/Unidades_federativas_do_Brasil") # creating DF from HTML page

df_html = df_html[1] # this df has all tables from url, selecting the correct

df_html.to_csv("data/ufs_data.csv", index=False) # converting to csv file

## Filter

In [ ]:

example_df = pd.DataFrame({
    "name": ["A", "B", "C"],
    "age": [12,15,45],
    "h": [1.32,1.56,1.67]
    })

# filtering DF["age"] where <= 15
filter = example_df["age"] <= 15 ## filter is now a pd.Series() of bool values

# returning entire DF WHERE "age" <= 15
example_df[filter] #

  name  age     h
0    A   12  1.32
1    B   15  1.56

In [ ]:
df = pd.read_csv("../../data/data-tmw/transacoes.csv")
df.sample(5) ## return 5 random rows

# simple "AND" filter
filter = df["qtdePontos"] >= 50
df[filter]

# double "AND" filter
filter = (df["qtdePontos"] >= 50) & (df["qtdePontos"] < 100)
df[filter]

# double "OR" filter
filter = (df["qtdePontos"] == 100) | (df["qtdePontos"] == 1)
df[filter]

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
2,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch
3,00019b46-6b25-47c3-aa8f-f550d7dbcb00,e2624c1c-c8af-4622-94e0-f3470037292f,2024-06-20 19:22:45.600,1,twitch
4,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,2024-03-18 13:04:21.814,1,twitch
...,...,...,...,...,...
182830,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
182831,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
182832,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
182833,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
182834,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [ ]:
df = pd.read_csv("../../data/data-tmw/transacao_produto.csv")

df.sample(2)

# basic way
filter = (df["idProduto"] == 5) | (df["idProduto"] == 11)
df[filter]

# better way
filter = df["idProduto"].isin([5, 11]) # isin() returns a pd.Series() of bool
df[filter]

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1
...,...,...,...,...,...
182836,fffd0ca8-a6c9-4776-ba7a-2463dfeca712,02c3bd7e-adf3-4510-b7b8-25df934c1e61,5,1,1
182837,fffd40ea-e039-4654-b0b6-0b86e5b2a4e5,30e6ae30-e2b5-46bc-a5c9-a92c4900d548,5,1,1
182838,fffd9569-31e6-4515-8494-4edeabc0cfc2,6baf63b1-d05a-419d-a84f-abdf6906fef8,11,1,50
182839,fffe7e68-c450-4025-9469-e5cbe7699b49,90f7149b-5794-4d49-9239-c3bddb5b0980,5,1,1
182840,ffff210a-2594-42fa-8d85-c97483817542,4d7c74c0-5ca0-4786-823b-b393d505c2e6,5,1,1

In [40]:
df = pd.read_csv("../../data/data-tmw/clientes.csv")

df.sample(2)

# detecting existing (non-missing) values.
filter = df["dtCriacao"].isna() # creates a pd.Series() of bool
df[filter]

# " ~ " is like NOT, on this example, return 
~df["dtCriacao"].isna() # creates a pd.Series() of bool

0       False
1       False
2       False
3        True
4       False
        ...
2431    False
2432     True
2433    False
2434     True
2435    False
Name: dtCriacao, Length: 2436, dtype: bool